body{
  position: relative;
}
.add_btn button
{
  background-color: #6f6fc8;
  color: #fff;
}
.note .box
{
  background:linear-gradient(#f9efaf, #f7e98d);
  color: #000;
  min-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
/* .note .box .header
{
  background-color: #fae877;
} */
.noteDetails{
  background-color: rgb(0, 0, 0,0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: all 0.3s;
}

.noteDetails .box{
  position: relative;
  top: -100%;
  color: #2d2d2d !important;
  transition: all 0.5s;
}
.noteDetails .box hr{
  color: #000 !important;
}
.header span{
  cursor: pointer;
}
.notebody{
  margin-top:2rem;
  padding: 10px 30px 10px 30px;
  background-color: #3e3b51	;
  border-radius: 0.25rem;
}
.notebody > span{
  width: 40px;
  height: 40px;
  margin-right:20px ;
  border-radius: 50%;
}
.cfcc{
  background: #cfcc!important;
}
.fcfc{
  background: #fcfc!important;
}
.fccf{
  background: #fccf!important;
}
.ffc04a{
  background: #ffc04a!important;
}
.dots{
  padding: 0.25rem;
}
.dots i{
  font-size: 1.5rem;
}

